.navbar-menu
{
	border: 0px;
	background-color: #2780e3;
}

.navbar-menu .navbar-nav>.open>a, .navbar-menu .navbar-nav>.open>a:hover, .navbar-menu .navbar-nav>.open>a:focus {
    background-color: #328ff2;
    color: #ffffff;
}

.navbar-menu .navbar-nav>li>a:hover, .navbar-menu .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #328ff2;
}


body
{
	background-color: #999;
	font-family:'Open Sans', sans-serif;
	/*font-family:'Oswald', sans-serif;*/
	/*font-family:'Oswald', sans-serif;*/
	/*font-family:'Rokkitt', sans-serif;*/
	font-weight:normal;	
}

.container-fix
{
	background-color: #ffffff;
}

.site-title h1
{
	margin: 0px;
	margin-top: 20px;
	color: #333;
	margin-bottom: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.site-title:hover
{
	text-decoration: none;
}

.row-menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: block;
}

.row-menu ul li
{
	display: inline-block;
	margin-right: 15px;
}

.row-menu ul li a h2
{
	margin: 0px;
	font-size: 15px;
	text-transform: uppercase;
	color: #555;
	font-weight: bold;
}

.row-menu ul li a:hover
{
	text-decoration: none;
}

.row-menu ul li a h2:hover
{
	color: #000;
}

.col-footer
{
	background-color: #dddddd;
	padding-bottom: 20px;
	padding-top: 20px;
}

.head-title
{
	font-size: 16px;
	font-weight: bolder;
	border-bottom: 1px solid #cbcbcb;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.widget ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
	margin-top: 20px;
}

.widget ul li
{
	margin-bottom: 20px;
}

.widget ul li a h4
{
	color: #333;
	font-size: 16px;
	font-weight: normal;
}

.item
{
	margin-bottom: 30px;
}
.col-item-details .head-title a h3
{
	margin: 0px;
	padding: 0px;
	color: #333;
	font-weight: normal;
	font-size: 22px;
}

.col-item-details .head-title a h3:hover
{
	text-decoration: none;
	color: #000;
}

.col-item-details .details
{
	color: #999;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
}
.col-item-details .content
{
	color: #333;
	font-size: 14px;
	font-weight: normal;
}

.col-item-details .details .sub
{
	margin-right: 15px;
}