
.nav-tabs > li a
{
    color:#E0E0E0;
        background-color: #227BBA;
}
.nav-tabs > li
{
    background-color: #227BBA;
    margin-right: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-tabs > li.active:hover a
{
        color:#CCCCCC;
    background-color:#227BBA;
      border:0px;
}
.nav-tabs > li:hover a
{
        color:#CCCCCC;
    background-color: #227BBA;
    border:0px;
       border:1px solid #227BBA;
}

.nav-tabs > li.active a
{
        color:#E0E0E0;
       background-color: #227BBA;
       border:0px;

}
.nav-tabs > li.active
{
        color:#E0E0E0;
       background-color: #227BBA;
          border:1px solid #227BBA;

}

.padding-0,
.no-padding,
.child-padding-0 > *
{
  padding: 0px;
}

.margin-0,
.no-margin,
.child-margin-0 > *
{
  margin: 0px;
}

.width-16
{
  min-width: 16px;
  max-width: 16px;
}
.width-18
{
  min-width: 18px;
  max-width: 18px;
}
.width-24
{
  min-width: 24px;
  max-width: 24px;
}
.width-32
{
  min-width: 32px;
  max-width: 32px;
}
.width-48
{
  min-width: 48px;
  max-width: 48px;
}
.width-64
{
  min-width: 64px;
  max-width: 64px;
}
.width-128
{
  min-width: 128px;
  max-width: 128px;
}
.width-150
{
  min-width: 150px;
  max-width: 150px;
}
.width-200
{
  min-width: 200px;
  max-width: 200px;
}
.width-300
{
  min-width: 300px;
  max-width: 300px;
}
.width-350
{
  min-width: 350px;
  max-width: 350px;
}
.width-400
{
  min-width: 400px;
  max-width: 400px;
}
.width-450
{
  min-width: 450px;
  max-width: 450px;
}
.width-500
{
  min-width: 500px;
  max-width: 500px;
}
.width-550
{
  min-width: 550px;
  max-width: 550px;
}
.width-600
{
  min-width: 600px;
  max-width: 600px;
}
.width-650
{
  min-width: 650px;
  max-width: 650px;
}
.width-700
{
  min-width: 700px;
  max-width: 700px;
}
.height-16
{
  min-height: 16px;
  max-height: 16px;
}
.height-18
{
  min-height: 18px;
  max-height: 18px;
}
.height-24
{
  min-height: 24px;
  max-height: 24px;
}
.height-32
{
  min-height: 32px;
  max-height: 32px;
}
.height-48
{
  min-height: 48px;
  max-height: 48px;
}
.height-64
{
  min-height: 64px;
  max-height: 64px;
}
.height-128
{
  min-height: 128px;
  max-height: 128px;
}
.height-150
{
  min-height: 150px;
  max-height: 150px;
}
.height-200
{
  min-height: 200px;
  max-height: 200px;
}
.height-300
{
  min-height: 300px;
  max-height: 300px;
}
.height-350
{
  min-height: 350px;
  max-height: 350px;
}
.height-400
{
  min-height: 400px;
  max-height: 400px;
}
.height-450
{
  min-height: 450px;
  max-height: 450px;
}
.height-500
{
  min-height: 500px;
  max-height: 500px;
}
.height-550
{
  min-height: 550px;
  max-height: 550px;
}
.height-600
{
  min-height: 600px;
  max-height: 600px;
}
.height-650
{
  min-height: 650px;
  max-height: 650px;
}
.height-700
{
  min-height: 700px;
  max-height: 700px;
}


.arrow_box {
  position: relative;
  background: #89b218;
  border: 0px solid #ffffff;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 5px;
  margin-left: -5px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 6px;
  margin-left: -6px;
}

.arrow-size-10:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 10px;
  margin-left: -10px;
}

.arrow-size-10:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 11px;
  margin-left: -11px;
}

.arrow-size-15:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 15px;
  margin-left: -15px;
}

.arrow-size-15:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 16px;
  margin-left: -16px;
}

.arrow-size-20:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 20px;
  margin-left: -20px;
}

.arrow-size-20:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #89b218;
  border-width: 21px;
  margin-left: -21px;
}


.bg-black,
.bg-0
{
  background-color: #000000;
}

.bg-f,
.bg-white
{
  background-color: #ffffff;
}


.fixed-top-left
{
  position: fixed;
  left: 0px;
  top: 0px;
}

.fixed-top-right
{
  position: fixed;
  right: 0px;
  top: 0px;
}

.fixed-bottom-left
{
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.fixed-bottom-right
{
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.fixed-bottom
{
  position: fixed;
  bottom: 0px;
  margin: 0px;
}

.fixed-top
{
  position: fixed;
  top: 0px;
   margin: 0px; 
}
.fixed-center-right-35
{
  position: fixed;
  right: 35%;
   margin: 0px; 
}
.fixed-center-right-40
{
  position: fixed;
  right: 40%;
   margin: 0px; 
}
.fixed-center-right-45
{
  position: fixed;
  right: 45%;
   margin: 0px; 
}
.fixed-center-left-35
{
  position: fixed;
  left: 35%;
   margin: 0px; 
}
.fixed-center-left-40
{
  position: fixed;
  left: 40%;
   margin: 0px; 
}
.fixed-center-left-45
{
  position: fixed;
  left: 45%;
   margin: 0px; 
}


.border-radius-2
{
  border-radius: 2px;
}

.border-radius-3
{
  border-radius: 3px;
}

.border-radius-5
{
  border-radius: 5px;
}

.border-radius-15
{
  border-radius: 15px;
}

.border-radius-30
{
  border-radius: 30px;
}

.border-radius-top-2
{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.border-radius-top-3
{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.border-radius-top-5
{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.border-radius-top-10
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.border-radius-top-15
{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.border-radius-top-30
{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.border-radius-bottom-2
{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.border-radius-bottom-3
{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.border-radius-bottom-5
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.border-radius-bottom-10
{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border-radius-bottom-15
{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.border-radius-bottom-30
{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.border-top-1
{
  border-top: 1px solid #ededed;
}

.border-top-2
{
  border-top: 2px solid #ededed;
}

.border-top-3
{
  border-top: 3px solid #ededed;
}

.border-top-4
{
  border-top: 4px solid #ededed;
}

.border-top-5
{
  border-top: 5px solid #ededed;
}

.border-bottom-1
{
  border-bottom: 1px solid #ededed;
}

.border-bottom-2
{
  border-bottom: 2px solid #ededed;
}

.border-bottom-3
{
  border-bottom: 3px solid #ededed;
}

.border-bottom-4
{
  border-bottom: 4px solid #ededed;
}

.border-bottom-5
{
  border-bottom: 5px solid #ededed;
}

.display-block
{
  display: block;
}

.display-none
{
  display: none;
}

.pointer
{
  cursor: pointer;
}


.hover-opacity-1:hover,
.hover-opacity-10:hover
{
  opacity: 1;
}
.hover-opacity-9:hover
{
  opacity: 0.9;
}
.hover-opacity-8:hover
{
  opacity: 0.8;
}
.hover-opacity-7:hover
{
  opacity: 0.7;
}
.hover-opacity-6:hover
{
  opacity: 0.6;
}
.hover-opacity-5:hover
{
  opacity: 0.5;
}
.hover-opacity-4:hover
{
  opacity: 0.4;
}

.no-underline
{
  text-decoration: none;
}
.no-underline-hover:hover
{
  text-decoration: none;
}



.opacity-1,
.opacity-10
{
  opacity: 1;
}

.opacity-9
{
  opacity: 0.9;
}
.opacity-8
{
  opacity: 0.8;
}
.opacity-7
{
  opacity: 0.7;
}
.opacity-6
{
  opacity: 0.6;
}
.opacity-5
{
  opacity: 0.5;
}
.opacity-4
{
  opacity: 0.4;
}


.display-flex
{
  display: flex;
}

.hover-color-f:hover
{
  color: #ffffff;
}

.hover-color-e:hover
{
  color: #eeeeee;
}

.hover-color-d:hover
{
  color: #dddddd;
}

.hover-color-c:hover
{
  color: #cccccc;
}

.hover-color-b:hover
{
  color: #bbbbbb;
}

.hover-color-a:hover
{
  color: #aaaaaa;
}

.hover-color-3:hover
{
  color: #333333;
}

.hover-color-4:hover
{
  color: #444444;
}

.hover-color-5:hover
{
  color: #555555;
}

.hover-color-6:hover
{
  color: #666666;
}

.hover-color-7:hover
{
  color: #777777;
}

.hover-color-8:hover
{
  color: #888888;
}

.hover-color-9:hover
{
  color: #999999;
}


.no-padding-left
{
  padding-left: 0px;
}

.no-padding-right
{
  padding-right: 0px;
}

.no-padding-top
{
  padding-top: 0px;
}

.no-padding-bottom
{
  padding-bottom: 0px;
}

.padding-5
{
  padding: 5px;
}
.padding-10
{
  padding: 10px;
}
.padding-15
{
  padding: 15px;
}
.padding-20
{
  padding: 20px;
}
.padding-25
{
  padding: 25px;
}

.padding-30
{
  padding: 30px;
}

.padding-35
{
  padding: 35px;
}

.padding-40
{
  padding: 40px;
}

.padding-45
{
  padding: 45px;
}
.padding-50
{
  padding: 50px;
}

.padding-left-5
{
  padding-left: 5px;
}
.padding-right-5
{
  padding-right: 5px;
}
.padding-top-5
{
  padding-top: 5px;
}
.padding-bottom-5
{
  padding-bottom: 5px;
}

.padding-left-10
{
  padding-left: 10px;
}
.padding-right-10
{
  padding-right: 10px;
}
.padding-top-10
{
  padding-top: 10px;
}
.padding-bottom-10
{
  padding-bottom: 10px;
}

.padding-left-15
{
  padding-left: 15px;
}
.padding-right-15
{
  padding-right: 15px;
}
.padding-top-15
{
  padding-top: 15px;
}
.padding-bottom-15
{
  padding-bottom: 15px;
}

.padding-left-20
{
  padding-left: 20px;
}
.padding-right-20
{
  padding-right: 20px;
}
.padding-top-20
{
  padding-top: 20px;
}
.padding-bottom-20
{
  padding-bottom: 20px;
}
.padding-top-25
{
  padding-top: 25px;
}
.padding-bottom-25
{
  padding-bottom: 25px;
}

.padding-left-30
{
  padding-left: 30px;
}
.padding-right-30
{
  padding-right: 30px;
}
.padding-top-30
{
  padding-top: 30px;
}
.padding-bottom-30
{
  padding-bottom: 30px;
}


.margin-top-5
{
  margin-top: 5px;
}

.margin-bottom-5
{
  margin-bottom: 5px;
}

.margin-top-20
{
  margin-top: 20px;
}

.margin-bottom-20
{
  margin-bottom: 20px;
}

.margin-top-25
{
  margin-top: 25px;
}

.margin-bottom-25
{
  margin-bottom: 25px;
}

.margin-top-10
{
  margin-top: 10px;
}
.margin-bottom-10
{
  margin-bottom: 10px;
}

.margin-top-30
{
  margin-top: 30px;
}
.margin-bottom-30
{
  margin-bottom: 30px;
}

.margin-left-5
{
  margin-left: 5px;
}

.margin-right-5
{
  margin-right: 5px;
}

.margin-left-20
{
  margin-left: 20px;
}

.margin-right-20
{
  margin-right: 20px;
}

.margin-left-10
{
  margin-left: 10px;
}
.margin-right-10
{
  margin-right: 10px;
}

.margin-left-30
{
  margin-left: 30px;
}
.margin-right-30
{
  margin-right: 30px;
}

.color-f
{
  color: #ffffff;
}

.color-e
{
  color: #eeeeee;
}

.color-d
{
  color: #dddddd;
}

.color-c
{
  color: #cccccc;
}

.color-b
{
  color: #bbbbbb;
}

.color-a
{
  color: #aaaaaa;
}

.color-3
{
  color: #333333;
}

.color-4
{
  color: #444444;
}

.color-5
{
  color: #555555;
}

.color-6
{
  color: #666666;
}

.color-7
{
  color: #777777;
}

.color-8
{
  color: #888888;
}

.color-9
{
  color: #999999;
}

.bg-color-f
{
  background-color: #ffffff;
}

.bg-color-e
{
  background-color: #eeeeee;
}

.bg-color-d
{
  background-color: #dddddd;
}

.bg-color-c
{
  background-color: #cccccc;
}

.bg-color-b
{
  background-color: #bbbbbb;
}

.bg-color-a
{
  background-color: #aaaaaa;
}

.bg-color-3
{
  background-color: #333333;
}

.bg-color-4
{
  background-color: #444444;
}

.bg-color-5
{
  background-color: #555555;
}

.bg-color-6
{
  background-color: #666666;
}

.bg-color-7
{
  background-color: #777777;
}

.bg-color-8
{
  background-color: #888888;
}

.bg-color-9
{
  background-color: #999999;
}

.font-12
{
  font-size: 12px;
}

.font-13
{
  font-size: 13px;
}

.font-14
{
  font-size: 14px;
}

.font-15
{
  font-size: 15px;
}

.font-16
{
  font-size: 16px;
}

.font-17
{
  font-size: 17px;
}

.font-18
{
  font-size: 18px;
}

.font-bold-200
{
  font-weight: 200;
}

.font-bold-300
{
  font-weight: 300;
}

.font-bold-400
{
  font-weight: 400;
}

.font-bold-500
{
  font-weight: 500;
}

.font-bold-600
{
  font-weight: 600;
}

.font-bold-700
{
  font-weight: 700;
}

.font-bold-800
{
  font-weight: 800;
}

.font-bold-900
{
  font-weight: 900;
}

.z-index-1
{
  z-index: 90001;
}
.z-index-2
{
  z-index: 90002;
}
.z-index-3
{
  z-index: 90003;
}
.z-index-4
{
  z-index: 90004;
}
.z-index-5
{
  z-index: 90005;
}
.z-index-6
{
  z-index: 90006;
}
.z-index-7
{
  z-index: 90007;
}
.z-index-8
{
  z-index: 90008;
}
.z-index-9
{
  z-index: 90009;
}

.z-index-10
{
  z-index: 999999;
}

.shadow-1
{
   -moz-box-shadow: 1px 1px 3px #888;
-webkit-box-shadow: 1px 1px 3px #888;
box-shadow: 1px 1px 3px #888; 
}
.shadow-2
{
   -moz-box-shadow: 2px 2px 3px #888;
-webkit-box-shadow: 2px 2px 3px #888;
box-shadow: 2px 2px 3px #888; 
}
.shadow-3
{
   -moz-box-shadow: 3px 3px 3px #888;
-webkit-box-shadow: 3px 3px 3px #888;
box-shadow: 3px 3px 3px #888; 
}

.shadow-5
{
   -moz-box-shadow: 5px 5px 3px #888;
-webkit-box-shadow: 5px 5px 3px #888;
box-shadow: 5px 5px 3px #888; 
}
.shadow-10
{
   -moz-box-shadow: 10px 10px 3px #888;
-webkit-box-shadow: 10px 10px 3px #888;
box-shadow: 10px 10px 3px #888; 
}


/*
<div class="card-item">
  <div class="image"><a href="ds"><img src="" /></a></div>
  <div class="title"><a href="df"><h4>This is test</h4></a></div>
  <div class="info">
    <div class="sub"><span class="glyphicon glyphicon-th"></span> 4,686</div>
    <div class="sub"><span class="glyphicon glyphicon-th"></span> 14 Mar, 2015</div>
  </div>
  <div class="summary">
  This is test This is test This is test This is test This is test 
  </div>
  <div class="add-buttons">
  This is test This is test This is test This is test This is test 
  </div>
</div>
*/

/*Card Item*/
.card-item
{
   margin-bottom: 30px;
}

.card-item .image img
{
  width: 100%;
}


.card-item > .title > a,
.card-item > .title > a *
{
  color: #686868;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.card-item > .title > a:hover
{
  text-decoration: none;
  color: #565656;
}

.card-item > .info
{
  color: #ababab;
  font-size: 13px;  
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-item > .info > .sub
{
  margin-right: 10px;
}

.card-item > .info > .sub:first-child
{
  margin-right: 0px;
}

.card-item > .summary
{
  color: #565656;
  font-size: 16px;  
}

@media (max-width: 768px)  {
 
}

@media (min-width: 768px) and (max-width: 992px)  {
 
}

@media (min-width: 992px) and (max-width: 1200px )  {
 
}
@media (min-width: 1200px )   {
 
}
