body
{
    background-color:#f1f1f1;

}
ul.main_menu
{
    list-style:none;
    margin:0px;
    padding:0px;
}
ul.main_menu li
{
   float:left;
    padding-right:10px;
    padding-left:10px;
   padding-top:15px;
    padding-bottom:15px;
}
ul.main_menu li a
{
    color:#ffffff;
}
ul.main_menu li:hover
{
    background-color:#7A7A7A;
}

ul.main_menu li a:hover
{
    text-decoration:none;
}
div.head_title
{
    border-bottom:1px dashed #C4C4C4;
}
div.list_manga
{
    padding-left:0px;
}
div.home_thumnail
{
    max-width:120px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}
div.home_thumnail a{
    color:#D4400F;
}
div.home_thumnail a:hover
{
    text-decoration:none;
}
div.home_thumnail img
{
    max-width:120px;
    max-height:174px;
}
ul.right_list
{
    list-style:none;
    margin:0px;
    padding:0px;
}
ul.right_list li
{
    float:left;
    margin-bottom:10px;
}
ul.right_list li img
{
    max-width:120px;
    max-height:176px;
}
ul.right_list li a
{
    color:#D4400F;
}
ul.right_list li a:hover
{
    text-decoration:none;
}
div.notify_box
{

    border:1px solid #BFBFBF;
    margin:0px 0px 0px 15px;
    background-color:#ffffff;
    border-top:2px solid #588BE8;
    padding-top:5px;
    padding-bottom:5px;
    color:#858585;

}
div.mangainfo_thumbnail
{
    float:left;
}
div.mangainfo_details
{
    float:left;
    margin-left:10px;
    max-width:500px;
    text-align:justify;
}
td.td_list_chapter
{
    background-color:#3BA7EB;
    padding:5px;
    color:#ffffff;
}
td a:hover
{
    text-decoration:none;
}

/*Category page */
div.cat_manga
{
    float:left;
}
{
    float:left;

}
div.cat_thumbnail
{
    float:left;
    width:35%;
}
div.cat_details
{
    float:left;
    margin-left:10px;
    width:60%;
}
a.cat_manga_title
{
    color:#F5390F;
}
a.cat_manga_title:hover
{
    text-decoration:none;
}

